[submodule "bundle/iceberg.vim"]
	path = bundle/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/lightline-iceberg"]
	path = bundle/lightline-iceberg
	url = https://github.com/popkirby/lightline-iceberg.git
[submodule "bundle/surround.vim"]
	path = bundle/surround.vim
	url = https://github.com/tpope/vim-surround.git
[submodule "easymotion/vim-easymotion"]
	path = easymotion/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/dense-analysis/ale.git
